.container {
  margin: 20px;
  margin-top: 50px;
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.search-form {
  margin: 20px;
}
